{% load static %}
{% block body %}
<html>
<head>
{% include 'parking/header.html' %}
<style>
.mydivstyleone:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
transform:translateY(-1px);

.headingfour:hover{
color : lightblue;
</style>

</head>
<body>
{% include 'parking/navigation.html' %}

<!-- carousel start-->
<div id="demo" class="carousel slide" data-ride="carousel" style = "margin-top : 1px">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>


  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="{% static 'images/2.2.gif' %}"  width="100%" height="500">
    </div>
    <div class="carousel-item active">
      <img src="{% static 'images/1.1.jpg' %}"  width="100%" height="500">
    </div>




  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!--carousel end-->
<div class="container-fluid" style = " height : 150px ; background-color : black">
<br><br>
<h4 class="text-center text-white">Parking Management</h4>
<p class="text-center text-primary">&copy;Market Sonar</p>
</div>



<!--scrolltop start-->
<div class="scrolltop float-right">
  <i class="fa fa-arrow-up" onclick="topFunction()" id="scrollbtn"></i>
  </div>
  <script>
  scrollbutton = document.getElementById("scrollbtn");
  window.onscroll = function(){scrollFunction()};

  function scrollFunction()
  {
  if(document.body.scrollTop>20 || document.documentElement.scrollTop>20)
  {
  scrollbutton.style.display="block";
  }
  else
  {
  scrollbutton.style.display="none";
  }
  }

  function topFunction()
  {
  document.body.scrollTop = 0;//safari
  document.documentElement.scrollTop = 0;//for chrome
  }
  </script>


 <!--scrolltop end-->
</body>
</html>
{% endblock %}