<nav class="navbar navbar-expand-sm navbar-dark bg-dark pl-5">
<a class="navbar-brand">
Parking Management
</a>

<button type = button class="navbar-toggler" data-toggle="collapse" data-target="#abc">
<span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="abc" >
<ul class="navbar-nav pl-5">
<li class = "nav-item">
<a href = "{% url 'parking:index' %}" class="nav-link" style = "color : white"><i class="fas fa-home">&nbsp;</i>Home<span class="sr-only">(current)</span></a>
</li>

{% comment %} <!--<li class = "nav-item">-->
<!--<a href = "{% url 'parking/about' %}" class="nav-link" style = "color : white"><i class="fas fa-address-card"></i> About Us</a>-->
<!--</li>--> {% endcomment %}
<li class = "nav-item">
<a href = "{% url 'parking:contact' %}" class="nav-link" style = "color : white"><i class="fas fa-id-card-alt"></i> Contact Us</a>
</li>

   <li class = "nav-item">
<a href = "{% url 'parking:admin_login' %}" class="nav-link" style = "color : white"><i class="fas fa-sign-in-alt"></i> GATE Login</a>
</li>




</ul>
</div>
</nav>




